* {
    background-color:#171C2D;
    color: white;
}

a {
    color: #EAB56F;
}


img {
    width: 100%;
}

#cover {
    background-image: url('https://cdn2.psychologytoday.com/assets/styles/manual_crop_4_3_1200x900/public/field_blog_entry_images/2023-09/EMUSKTask.jpg?itok=9ONIFiJC');
    background-size: cover;
    background-repeat: no-repeat;
    height: 33em;
}

#blend {
    position: relative;
    text-align: center;
    top: 70%;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 5em;
    font-weight: bold;
    background-color: rgba(0,0,0,0);
}

header > p {
    margin-top: 2%;
    font-size: 30px;
    text-align: center;
}


nav > ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: #E37239;
}

nav > ul > li {
    width: 25%;
    float: left;

}

nav > ul > li > a {
    display: block;
    color: white;
    font-size: 20px;    
    padding: 14px 20px;
    text-decoration: none;
    background-color: #E37239;
    text-align: center;
}

nav > ul > li > a:hover {
    background-color: #EAB56F;
}

a:hover {
    color: #E37239;
}


 h2 {
    margin-top: 5%;
    font-size: 3em;
    position: sticky;
    top:0;
    padding-left: 3%;
    color: #E37239;
}

#about_section {
    min-height: 500px;
    position: static;
}
    
#about_section > img {
    float: left;
    width: 20em;
    margin-right: 5%;
}

#about_section > p {
    display: block;
    margin: 5%;
    margin-bottom: 1%;
    font-size: 1.3em;
    float: none;
}

#about_section > ul {
    float: none;
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom:2%;
    margin: 2%;
    background-color: #254252;
}

#about_section > ul > div {
    text-align: left;
    background-color:#254252;
}

#about_section > ul > div > li {
    background-color:#254252;
    float: left;
    margin-left: 10%;
}

#life_section {
    clear: left;
}

#life_section > h2 {
    margin-top: 10%;
}

#life_section > p {
    font-size: 1.3em;
    padding-left: 3%;
    padding-right: 3%;
}

#life_section > img {
    float: right;
    width:30%;
    padding-left: 3%;
}

div > h3 {
    font-size: 1.6em;
    color: #EAB56F;
    padding-left: 2%
}

div > p {
    font-size: 1.3em;
    padding: 2%;
}

div > img {
    width: 30%;
    padding: 2%;
    float: right;
}

div > a {
    padding-left: 2%;
}

#tesla_div > img {
    height: 1%;
}

#contact_section{
    padding-bottom: 1%;
}


#contact_section > form {
    margin-top: 8%;
    text-align: center;
    padding: 2%;
    padding-right
    background-color: #254252;
}

label {
    background-color: #254252;
}

input {
    border: 1px solid white;
    border-radius: 8px;
    color: white;
}

#contact_section > ul {
    width: 40%;
    float: right;
}
